In [1]:
%pip install pyspark

Requirement already satisfied: pyspark in c:\users\debar\appdata\local\programs\python\python311\lib\site-packages (3.5.2)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\debar\appdata\local\programs\python\python311\lib\site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [4]:
spark

In [5]:
df_pyspark=spark.read.option('header','true').csv('test1.csv',inferSchema=True)

In [6]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [7]:
df_pyspark=spark.read.csv('test1.csv',header=True,inferSchema=True)
df_pyspark.show()

+--------+---+----------+
|    Name|age|Experience|
+--------+---+----------+
|Debarjun| 21|         2|
|   Omkar| 20|         1|
|     Om | 19|         1|
+--------+---+----------+

In [8]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [9]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [10]:
df_pyspark.head(3)

[Row(Name='Debarjun', age=21, Experience=2),
 Row(Name='Omkar', age=20, Experience=1),
 Row(Name='Om ', age=19, Experience=1)]

In [11]:
df_pyspark.select(['Name','Experience']).show()

+--------+----------+
|    Name|Experience|
+--------+----------+
|Debarjun|         2|
|   Omkar|         1|
|     Om |         1|
+--------+----------+

In [12]:
df_pyspark.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int')]

In [13]:
df_pyspark.describe().show()

+-------+--------+----+------------------+
|summary|    Name| age|        Experience|
+-------+--------+----+------------------+
|  count|       3|   3|                 3|
|   mean|    NULL|20.0|1.3333333333333333|
| stddev|    NULL| 1.0|0.5773502691896258|
|    min|Debarjun|  19|                 1|
|    max|   Omkar|  21|                 2|
+-------+--------+----+------------------+

In [14]:
df_pyspark=df_pyspark.withColumn('Experience After 2 year',df_pyspark['Experience']+2)

In [15]:
df_pyspark.show()

+--------+---+----------+-----------------------+
|    Name|age|Experience|Experience After 2 year|
+--------+---+----------+-----------------------+
|Debarjun| 21|         2|                      4|
|   Omkar| 20|         1|                      3|
|     Om | 19|         1|                      3|
+--------+---+----------+-----------------------+

In [16]:
df_pyspark=df_pyspark.drop('Experience After 2 year')

In [17]:
df_pyspark.show()

+--------+---+----------+
|    Name|age|Experience|
+--------+---+----------+
|Debarjun| 21|         2|
|   Omkar| 20|         1|
|     Om | 19|         1|
+--------+---+----------+

In [18]:
df_pyspark.withColumnRenamed('Name','New Name').show()

+--------+---+----------+
|New Name|age|Experience|
+--------+---+----------+
|Debarjun| 21|         2|
|   Omkar| 20|         1|
|     Om | 19|         1|
+--------+---+----------+