In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [2]:
df_pyspark=spark.read.csv('test2.csv',header=True,inferSchema=True)

In [3]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [4]:
df_pyspark.show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|Debarjun|  21|         3| 30000|
|   Arjun|  22|         2| 25000|
|   Karan|  25|         1| 20000|
|      Om|  20|         2| 20000|
|   Omkar|  19|         1| 15000|
|   Tanay|  18|         2| 18000|
|  Mayank|NULL|      NULL| 40000|
|    NULL|  24|         1| 38000|
|    NULL|  26|      NULL|  NULL|
+--------+----+----------+------+

In [5]:
df_pyspark.na.drop().show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|Debarjun| 21|         3| 30000|
|   Arjun| 22|         2| 25000|
|   Karan| 25|         1| 20000|
|      Om| 20|         2| 20000|
|   Omkar| 19|         1| 15000|
|   Tanay| 18|         2| 18000|
+--------+---+----------+------+

In [6]:
### any==how
df_pyspark.na.drop(how="any").show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|Debarjun| 21|         3| 30000|
|   Arjun| 22|         2| 25000|
|   Karan| 25|         1| 20000|
|      Om| 20|         2| 20000|
|   Omkar| 19|         1| 15000|
|   Tanay| 18|         2| 18000|
+--------+---+----------+------+

In [9]:
##threshold
df_pyspark.na.drop(how="any",thresh=3).show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|Debarjun| 21|         3| 30000|
|   Arjun| 22|         2| 25000|
|   Karan| 25|         1| 20000|
|      Om| 20|         2| 20000|
|   Omkar| 19|         1| 15000|
|   Tanay| 18|         2| 18000|
|    NULL| 24|         1| 38000|
+--------+---+----------+------+

In [10]:
##Subset
df_pyspark.na.drop(how="any",subset=['Age']).show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|Debarjun| 21|         3| 30000|
|   Arjun| 22|         2| 25000|
|   Karan| 25|         1| 20000|
|      Om| 20|         2| 20000|
|   Omkar| 19|         1| 15000|
|   Tanay| 18|         2| 18000|
|    NULL| 24|         1| 38000|
|    NULL| 26|      NULL|  NULL|
+--------+---+----------+------+

In [11]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['age', 'Experience', 'Salary'], 
    outputCols=["{}_imputed".format(c) for c in ['age', 'Experience', 'Salary']]
    ).setStrategy("median")

In [12]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+--------+----+----------+------+-----------+------------------+--------------+
|    Name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+--------+----+----------+------+-----------+------------------+--------------+
|Debarjun|  21|         3| 30000|         21|                 3|         30000|
|   Arjun|  22|         2| 25000|         22|                 2|         25000|
|   Karan|  25|         1| 20000|         25|                 1|         20000|
|      Om|  20|         2| 20000|         20|                 2|         20000|
|   Omkar|  19|         1| 15000|         19|                 1|         15000|
|   Tanay|  18|         2| 18000|         18|                 2|         18000|
|  Mayank|NULL|      NULL| 40000|         21|                 2|         40000|
|    NULL|  24|         1| 38000|         24|                 1|         38000|
|    NULL|  26|      NULL|  NULL|         26|                 2|         20000|
+--------+----+----------+------+-----------+------------------+--------------+

In [13]:
imputer = Imputer(
    inputCols=['age', 'Experience', 'Salary'], 
    outputCols=["{}_imputed".format(c) for c in ['age', 'Experience', 'Salary']]
    ).setStrategy("mean")

In [14]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+--------+----+----------+------+-----------+------------------+--------------+
|    Name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+--------+----+----------+------+-----------+------------------+--------------+
|Debarjun|  21|         3| 30000|         21|                 3|         30000|
|   Arjun|  22|         2| 25000|         22|                 2|         25000|
|   Karan|  25|         1| 20000|         25|                 1|         20000|
|      Om|  20|         2| 20000|         20|                 2|         20000|
|   Omkar|  19|         1| 15000|         19|                 1|         15000|
|   Tanay|  18|         2| 18000|         18|                 2|         18000|
|  Mayank|NULL|      NULL| 40000|         21|                 1|         40000|
|    NULL|  24|         1| 38000|         24|                 1|         38000|
|    NULL|  26|      NULL|  NULL|         26|                 1|         25750|
+--------+----+----------+------+-----------+------------------+--------------+

In [15]:
imputer = Imputer(
    inputCols=['age', 'Experience', 'Salary'], 
    outputCols=["{}_imputed".format(c) for c in ['age', 'Experience', 'Salary']]
    ).setStrategy("mode")

In [16]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+--------+----+----------+------+-----------+------------------+--------------+
|    Name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+--------+----+----------+------+-----------+------------------+--------------+
|Debarjun|  21|         3| 30000|         21|                 3|         30000|
|   Arjun|  22|         2| 25000|         22|                 2|         25000|
|   Karan|  25|         1| 20000|         25|                 1|         20000|
|      Om|  20|         2| 20000|         20|                 2|         20000|
|   Omkar|  19|         1| 15000|         19|                 1|         15000|
|   Tanay|  18|         2| 18000|         18|                 2|         18000|
|  Mayank|NULL|      NULL| 40000|         18|                 1|         40000|
|    NULL|  24|         1| 38000|         24|                 1|         38000|
|    NULL|  26|      NULL|  NULL|         26|                 1|         20000|
+--------+----+----------+------+-----------+------------------+--------------+